nav{
    margin-top: 30px;
}

ul{
    display: flex;
    justify-content: flex-end;
}

li{
    padding-right: 100px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-family: "Arial", sans-serif;

    color: #333;
}


a:hover{
    font-size: 23px;
}